{% extends "home.html" %}
{% block content %}
<form>
  <div class="container">
    <h1>Información del Paciente</h1>
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="row mb-3">
        <div class="col">
          <label class="form-label">ID</label>
          <input type="text" class="form-control" aria-describedby="emailHelp">
        </div>
        <div class="col">
          <label class="form-label">Edad</label>
          <input type="text" class="form-control" aria-describedby="emailHelp">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <label class="form-label">Nombre</label>
          <input type="text" class="form-control" aria-describedby="emailHelp">
        </div>
        <div class="col">
          <label class="form-label">Raza</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <label class="form-label">Tipo Afiliación</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="col">
          <label class="form-label">Email</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <label class="form-label">No. Afiliación</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="col">
          <label class="form-label">Telefono</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <label for="exampleInputEmail1" class="form-label">Aseguradora</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="col"></div>
      </div>
    </div>
    <h1>Datos</h1>
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="row">
        <div class="col">
          <a href="">Motivo de consulta</a>
        </div>
        <div class="col">
          <a href="">Enfermedad actual</a>
        </div>
        <div class="col">
          <a href="">Antecedentes mórbidos</a>
        </div>
        <div class="col">
          <a href="">Antecedentes ginecoobstétricos</a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a href="">Medicamentos</a>
        </div>
        <div class="col">
          <a href="">Alergias</a>
        </div>
        <div class="col">
          <a href="">Antecedentes sociales y personales</a>
        </div>
        <div class="col">
          <a href="">Antecedentes familiares</a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a href="">Inmunizaciones</a>
        </div>
        <div class="col">
          <a href="">Revisión por sistemas</a>
        </div>
        <div class="col">
          <a href="">Epicrisis</a>
        </div>
        <div class="col"></div>
      </div>
    </div>
    <div>
      <h1>Motivo de Consulta</h1>
      <textarea class="form-control" id="form4Example3" rows="5"></textarea>
    </div>
    <div>
      <h1>Enfermedad Actual</h1>
      <textarea class="form-control" id="form4Example3" rows="5"></textarea>
    </div>
    <div>
      <h1>Antecedentes Mórbidos</h1>
      <textarea class="form-control" id="form4Example3" rows="5"></textarea>
    </div>
    <div>
      <h1>Antecedentes Ginecoobstétricos</h1>
      <textarea class="form-control" id="form4Example3" rows="5"></textarea>
    </div>
    <div>
      <h1>Medicamentos</h1>
      <textarea class="form-control" id="form4Example3" rows="5"></textarea>
    </div>
    <div>
      <h1>Alegias</h1>
      <textarea class="form-control" id="form4Example3" rows="5"></textarea>
    </div>
    <div>
      <h1>Antecedentes Sociales y Personales</h1>
      <textarea class="form-control" id="form4Example3" rows="5"></textarea>
    </div>
    <div>
      <h1>Antecedentes Familiares</h1>
      <textarea class="form-control" id="form4Example3" rows="5"></textarea>
    </div>
    <div>
      <h1>Inmunizaciones</h1>
      <textarea class="form-control" id="form4Example3" rows="5"></textarea>
    </div>
    <div>
      <h1>Revisión por Sistemas</h1>
      <textarea class="form-control" id="form4Example3" rows="5"></textarea>
    </div>
    <div>
      <h1>Epicrisis</h1>
      <textarea class="form-control" id="form4Example3" rows="5"></textarea>
    </div>
    <button>Guadar</button>
  </div>
  </form>
{% endblock content %}